{% extends 'main.html' %}
{% block title %}<title>Добро пожаловать</title>{% endblock %}
<body>
    <div class="layout">
        {% block content %}
        <main class="main-content">
            <div class="layout">
                <div class="content">
                    <div class="content-title">
                        <h3>{{ faculty.faculty_name }}</h3>
                    </div>
                    <div>
                        <p>{{ faculty.description }}</p>
                    </div>
                    <div>
                        <p>В нашем колледже есть ряд образовательных программ</p>
                        <p>Перечень специальностей и профессий, по которым объявляет прием в соответствии с лицензией на осуществление образовательной деятельности (с выделением форм получения образования (очная);
                             требования к уровню образования, которое необходимо для поступления (основное общее или среднее общее образование);</p>
                              <p>общее количество мест для приема по каждой специальности (профессии),
                              в том числе по различным формам получения образования; количество мест, финансируемых за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных
                               бюджетов по каждой специальности (профессии)), в том числе по различным формам получения образования; количество мест по каждой специальности (профессии) по договорам об оказании платных
                                образовательных услуг, в том числе по различным формам получения образования; перечень вступительных испытаний; информация о формах проведения вступительных испытаний</p>
                    </div>

                    <div>
                        <p>Ниже перечислены факультеты на которых можно обучаться в нашем колледже</p>
                    </div>

                    <div class="progs">

                        {% for faculty in faculties %}
                            <div class="facs">
                                <a href="{% url 'faculty' %}" >{{ faculty.faculty_name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
    </div>
</body>