{% extends 'main.html' %}
{% block title %}<title>Добро пожаловать</title>{% endblock %}
<body>
    <div class="layout">

        {% block content %}
        <main class="main-content">
            <div>
                <div>
                    <div>
                        <h3>Служба поддержки</h3>
                    </div>
                    <div>
                        <h4>Часто задаваемые вопросы</h4>
                    </div>
                    <div>
                        <h4>
                            <a href="#">Авторизация</a>
                        </h4>
                        <p>Как войти в электронный журнал?</p>
                        <p>Почему не удается войти через ЕСИА ГосУслуги?</p>
                        <p>Что делать, если я забыл пароль?</p>
                    </div>
                    <div>
                        <h4>
                            <a href="#">Для родителей и обуающихся</a>
                        </h4>
                        <p>Как войти родителю?</p>
                        <p>Есть мобильное приложение?</p>
                        <p>Почему в дневнике нет данных?</p>
                        <p>Дневник платный?</p>
                    </div>
                    <div>
                        <h4>
                            <a href="#">Для учителей</a>
                        </h4>
                        <p>Почему расписание неверное?</p>
                        <p>Как считается средний балл?</p>
                        <p>Как убрать фиолетовые столбцы?</p>
                    </div>
                    <div>
                        <h4>
                            <a href="#">Для завуча и администратора</a>
                        </h4>
                        <p>Что делать, если у родителя два ребенка?</p>
                        <p>Как дать доступ новому администратору?</p>
                        <p>Почему учитель не может заполнять журнал?</p>
                        <p>Как выключить тестовый режим в модуле печати аттестатов?</p>
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
    </div>
</body>